<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Genre</th> <th>prix</th><th>Author</th>  </tr>
    <tbody *ngFor="let book of books">
       <tr>
                            <td>{{book.idBook}}</td>
                            <td>{{book.bookName}}</td>
                            <td>{{book.genre}}</td>
                            <td>{{book.prix}}</td>
                            <td>{{book.author.AuthorName}}</td>
                            <td><a class="btn btn-danger" (click)="supprimerBook(book)">Supprimer</a></td>
                            <td><a class="btn btn-success" [routerLink]="['/updateBook',book.idBook]">Modifier</a></td>
                        </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>	
